.section-find {
  margin-top: 60px;
}

.find__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.find__item {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 30px 0px #0000000D;
}

.find__icon {
  width: 36px;
  height: 36px;
  margin-bottom: 16px;
}

.find__text {
  color: #000000;
  font-size: 16px;
  margin: 0;
}

@media (min-width: 769px) {
  .section-find {
    margin-top: 120px;
  }

  .find__list {
    gap: 10px;
  }

  .find__item {
    flex-direction: row;
    align-items: center;
    width: 800px;
    box-sizing: border-box;
    padding: 42px 130px;
    text-align: left;
  }

  .find__icon {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .find__text {
    font-size: 24px;
  }
}
