.join-free-button {
  height: 60px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #574DCC 0%, #579AFF 100%);
  box-shadow: 0px 20px 30px 0px #584FCD33;
  color: #FFF;
  width: 100%;
  font-family: Trebuchet MS;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 769px) {
  .join-free-button {
    max-width: 360px;
  }
}
