.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media (min-width: 769px) {
  .section-description {
    font-size: 24px;
    text-align: start;
    max-width: 538px;
  }

  .section-description--centered {
    text-align: center;
  }
}
